*{
    margin: 0px;
    padding: 0px;
}
/* header section  */
.nav-container{
    display: flex;
    background-color: gray;
    padding: 20px;
    justify-content: space-around;
}
.menus{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 17px;
    font-style: italic;
    align-items: center;
}
.banner-container{
    height: 100vh;
    background-image: url("./asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}
.primary{
    color: red;
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.description{
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    padding: 12px;
    border: none;
}
.bg-primary{
    background-color: red;
}

/* main section  */
.service-container{
    height: 100vh;
    background-image: url("./asset/image/footer-bg.png"),linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.932));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}
.icon{
    width: 70px;
    margin-bottom: 20px;
}
.box{
    width: 100px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
}

.service-description{
    width: 50%;
}
.first-two-box{
    display: flex;
}
.author-img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.author-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid red;
    padding-right: 20px;
}
